
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-582655147412226712.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-582655147412226712.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-582655147412226712.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-582655147412226712.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-582655147412226712.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-582655147412226712.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-582655147412226712.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-582655147412226712.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-582655147412226712.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-582655147412226712.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-582655147412226712.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-582655147412226712.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-582655147412226712.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-582655147412226712.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-582655147412226712.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-582655147412226712.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-582655147412226712.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-582655147412226712.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-582655147412226712.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-582655147412226712.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-582655147412226712.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-582655147412226712.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-582655147412226712.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-582655147412226712.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-582655147412226712.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-582655147412226712.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-582655147412226712.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-582655147412226712.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-582655147412226712.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-582655147412226712.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-582655147412226712.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-582655147412226712.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-582655147412226712.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-582655147412226712.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-582655147412226712.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-582655147412226712.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-582655147412226712.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-582655147412226712.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-582655147412226712.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-582655147412226712.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-582655147412226712.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-582655147412226712.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-582655147412226712.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-582655147412226712.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-582655147412226712.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-582655147412226712.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-582655147412226712.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-582655147412226712.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-582655147412226712.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-582655147412226712.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-582655147412226712.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-582655147412226712.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-582655147412226712.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-582655147412226712.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-582655147412226712.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-582655147412226712.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-582655147412226712.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-582655147412226712.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-582655147412226712.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-582655147412226712.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-582655147412226712.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-582655147412226712.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-582655147412226712.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-582655147412226712.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-582655147412226712.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-582655147412226712.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-582655147412226712.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-582655147412226712.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-582655147412226712.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-582655147412226712.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-582655147412226712.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-582655147412226712.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-582655147412226712.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-582655147412226712.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-582655147412226712.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-582655147412226712.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-582655147412226712.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-582655147412226712.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-582655147412226712.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-582655147412226712.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-582655147412226712.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-582655147412226712.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-582655147412226712.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-582655147412226712.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-582655147412226712.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-582655147412226712.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-582655147412226712.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-582655147412226712.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-582655147412226712.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-582655147412226712.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-582655147412226712.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-582655147412226712.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-582655147412226712.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-582655147412226712.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-582655147412226712.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-582655147412226712.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-582655147412226712.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-582655147412226712.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-582655147412226712.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-582655147412226712.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-582655147412226712.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-582655147412226712 .gp-rotate-0,.gps-582655147412226712 .gp-rotate-180,.gps-582655147412226712 .mobile\:gp-rotate-0,.gps-582655147412226712 .mobile\:gp-rotate-180,.gps-582655147412226712 .tablet\:gp-rotate-0,.gps-582655147412226712 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-582655147412226712 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-582655147412226712 .gp-static{position:static}.gps-582655147412226712 .\!gp-relative{position:relative!important}.gps-582655147412226712 .gp-relative{position:relative}.gps-582655147412226712 .gp-left-0{left:0}.gps-582655147412226712 .gp-right-0{right:0}.gps-582655147412226712 .gp-z-1{z-index:1}.gps-582655147412226712 .gp-z-2{z-index:2}.gps-582655147412226712 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582655147412226712 .gp-my-0{margin-bottom:0;margin-top:0}.gps-582655147412226712 .gp-mb-0{margin-bottom:0}.gps-582655147412226712 .gp-block{display:block}.gps-582655147412226712 .gp-inline-block{display:inline-block}.gps-582655147412226712 .\!gp-flex{display:flex!important}.gps-582655147412226712 .gp-flex{display:flex}.gps-582655147412226712 .gp-inline-flex{display:inline-flex}.gps-582655147412226712 .gp-grid{display:grid}.gps-582655147412226712 .gp-contents{display:contents}.gps-582655147412226712 .\!gp-hidden{display:none!important}.gps-582655147412226712 .gp-hidden{display:none}.gps-582655147412226712 .gp-h-auto{height:auto}.gps-582655147412226712 .gp-h-full{height:100%}.gps-582655147412226712 .\!gp-min-h-full{min-height:100%!important}.gps-582655147412226712 .gp-w-full{width:100%}.gps-582655147412226712 .gp-max-w-full{max-width:100%}.gps-582655147412226712 .gp-flex-1{flex:1 1 0%}.gps-582655147412226712 .gp-flex-none{flex:none}.gps-582655147412226712 .gp-shrink-0{flex-shrink:0}.gps-582655147412226712 .gp-rotate-0{--tw-rotate:0deg}.gps-582655147412226712 .gp-rotate-0,.gps-582655147412226712 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-582655147412226712 .gp-rotate-180{--tw-rotate:180deg}.gps-582655147412226712 .gp-cursor-pointer{cursor:pointer}.gps-582655147412226712 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-582655147412226712 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582655147412226712 .\!gp-flex-row{flex-direction:row!important}.gps-582655147412226712 .gp-flex-row{flex-direction:row}.gps-582655147412226712 .gp-flex-col{flex-direction:column}.gps-582655147412226712 .gp-flex-wrap{flex-wrap:wrap}.gps-582655147412226712 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-582655147412226712 .gp-items-center{align-items:center}.gps-582655147412226712 .gp-justify-center{justify-content:center}.gps-582655147412226712 .gp-justify-between{justify-content:space-between}.gps-582655147412226712 .gp-gap-2{gap:8px}.gps-582655147412226712 .gp-overflow-hidden{overflow:hidden}.gps-582655147412226712 .gp-text-center{text-align:center}.gps-582655147412226712 .gp-leading-\[0\]{line-height:0}.gps-582655147412226712 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-582655147412226712 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582655147412226712 .gp-duration-200{transition-duration:.2s}.gps-582655147412226712 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-582655147412226712 .tablet\:gp-static{position:static}.gps-582655147412226712 .tablet\:\!gp-relative{position:relative!important}.gps-582655147412226712 .tablet\:gp-left-0{left:0}.gps-582655147412226712 .tablet\:gp-right-0{right:0}.gps-582655147412226712 .tablet\:gp-block{display:block}.gps-582655147412226712 .tablet\:\!gp-flex{display:flex!important}.gps-582655147412226712 .tablet\:\!gp-hidden{display:none!important}.gps-582655147412226712 .tablet\:gp-hidden{display:none}.gps-582655147412226712 .tablet\:gp-h-auto{height:auto}.gps-582655147412226712 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-582655147412226712 .tablet\:gp-flex-none{flex:none}.gps-582655147412226712 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-582655147412226712 .tablet\:gp-rotate-0,.gps-582655147412226712 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-582655147412226712 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-582655147412226712 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-582655147412226712 .tablet\:gp-flex-row{flex-direction:row}.gps-582655147412226712 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-582655147412226712 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-582655147412226712 .mobile\:\!gp-absolute{position:absolute!important}.gps-582655147412226712 .mobile\:gp-absolute{position:absolute}.gps-582655147412226712 .mobile\:gp-left-0{left:0}.gps-582655147412226712 .mobile\:gp-right-0{right:0}.gps-582655147412226712 .mobile\:gp-z-2{z-index:2}.gps-582655147412226712 .mobile\:gp-block{display:block}.gps-582655147412226712 .mobile\:\!gp-flex{display:flex!important}.gps-582655147412226712 .mobile\:\!gp-hidden{display:none!important}.gps-582655147412226712 .mobile\:gp-hidden{display:none}.gps-582655147412226712 .mobile\:gp-h-auto{height:auto}.gps-582655147412226712 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-582655147412226712 .mobile\:gp-flex-none{flex:none}.gps-582655147412226712 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-582655147412226712 .mobile\:gp-rotate-0,.gps-582655147412226712 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-582655147412226712 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-582655147412226712 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-582655147412226712 .mobile\:gp-flex-row{flex-direction:row}.gps-582655147412226712 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-582655147412226712 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-582655147412226712 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-582655147412226712 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-582655147412226712 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-582655147412226712 .\[\&\>svg\]\:gp-w-full>svg{width:100%}@media (max-width:1024px){.gps-582655147412226712 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-582655147412226712 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-582655147412226712 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gq-ikRh9VP"}' data-id="gq-ikRh9VP" id="gq-ikRh9VP" data-same-height-subgrid-container class="gq-ikRh9VP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gYp-nZgwJ0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1YqLjmVOF"
        class="g1YqLjmVOF"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756928924943"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:26px;--size-tablet:16px;--size-mobile:18px;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1YqLjmVOF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gPYyr5eiyv"}' data-id="gPYyr5eiyv" id="gPYyr5eiyv" data-same-height-subgrid-container class="gPYyr5eiyv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:7px;--cg:12px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gyzrFVZyE9 gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="gSlPeGdRs1"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:2px;--jc:left">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gVT1Fum4P7 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gmMoXTIpAf" class="gp-leading-[0] gmMoXTIpAf" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gmMoXTIpAf" class="icon-wrapper gp-inline-flex gp-overflow-hidden gmMoXTIpAf " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#00B67A;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:14px;--h:16px;--h-tablet:16px;--h-mobile:14px;--minw:16px;--minw-tablet:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g0h1Rvb1ZA ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gtcKeXc5Ps" class="gp-leading-[0] gtcKeXc5Ps" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--ta:left">
      <div data-id="gtcKeXc5Ps" class="icon-wrapper gp-inline-flex gp-overflow-hidden gtcKeXc5Ps " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#00B67A;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:14px;--h:16px;--h-tablet:16px;--h-mobile:14px;--minw:16px;--minw-tablet:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gMAPjZslot ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g9lDcqSI9t" class="gp-leading-[0] g9lDcqSI9t" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g9lDcqSI9t" class="icon-wrapper gp-inline-flex gp-overflow-hidden g9lDcqSI9t " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#00B67A;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:14px;--h:16px;--h-tablet:16px;--h-mobile:14px;--minw:16px;--minw-tablet:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gUPtT8G_Qv ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gQaawDGqB2" class="gp-leading-[0] gQaawDGqB2" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gQaawDGqB2" class="icon-wrapper gp-inline-flex gp-overflow-hidden gQaawDGqB2 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#00B67A;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:14px;--h:16px;--h-tablet:16px;--h-mobile:14px;--minw:16px;--minw-tablet:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gZ6nkrb-MO ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="ga0eAsT3G1" class="gp-leading-[0] ga0eAsT3G1" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="ga0eAsT3G1" class="icon-wrapper gp-inline-flex gp-overflow-hidden ga0eAsT3G1 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#00B67A;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:14px;--h:16px;--h-tablet:16px;--h-mobile:14px;--minw:16px;--minw-tablet:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gLOXRQSz9Q gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNGzSeK9Ax"
        class="gNGzSeK9Ax"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756928924946"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNGzSeK9Ax_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gNGzSeK9Ax">
        .gNGzSeK9Ax {

}
.gNGzSeK9Ax p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  {% render 'gp-section-582655147412226712-0', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-582655147412226712 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ggtdys-w8/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=582655147277025944&sectionId=582655147412226712)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg1YqLjmVOF_text","label":"gg1YqLjmVOF_text","default":"<p>Ils nous ont fait confiance voici leurs mots :</p>"},{"type":"html","id":"ggNGzSeK9Ax_text","label":"ggNGzSeK9Ax_text","default":"<p>500+ Avis vérifiés</p>"},{"type":"html","id":"glhIHsAjMz9_text","label":"glhIHsAjMz9_text","default":"<p><strong>Michelle</strong></p><p>J’avais du mal à y croire. Pas de brûlure, pas de sensation désagréable – il suffit d’appliquer et d’attendre. Skinacro &nbsp;a enlevé ma verrue doucement et efficacement. Je me sens de nouveau bien dans ma peau !</p>"},{"type":"html","id":"guuFS3Tkjsl_text","label":"guuFS3Tkjsl_text","default":"<p><strong>Mathis</strong></p><p>Enfin un produit qui tient ses promesses ! J’ai essayé tellement de crèmes, rien n’avait fonctionné. Avec Skinacro, c’était rapide et simple. Je suis tellement soulagée</p>"},{"type":"html","id":"gbd_SrADOdQ_text","label":"gbd_SrADOdQ_text","default":"<p><strong>Melania</strong></p><p>&nbsp;Application super simple et aucune douleur. J’ai pu voir la différence après seulement trois jours. Alcura a dépassé mes attentes, et cela sans visite chez le médecin !</p>"},{"type":"html","id":"g2mfc8bCDBE_text","label":"g2mfc8bCDBE_text","default":"<p><strong>Cécile&nbsp;</strong></p><p>J’avais peur à cause de la proximité avec l’œil. J’étais sceptique au départ, mais Skinacro est tellement doux que ça n’a posé aucun problème.</p>"},{"type":"html","id":"ge8X_IHLUCR_text","label":"ge8X_IHLUCR_text","default":"<p><strong>Lila&nbsp;</strong></p><p>Skinacro m’a vraiment aidé. Je voulais éviter le passage gênant chez le dermatologue et ça a parfaitement fonctionné. L’acrochordon sur mon dos a disparu</p>"},{"type":"html","id":"g9le5ejJtqI_text","label":"g9le5ejJtqI_text","default":"<p><strong>Marcus</strong></p><p>&nbsp;Mieux que chez le dermatologue ! J’ai économisé 200 €, et le résultat est tout aussi bon. Pourquoi je n’y ai pas pensé plus tôt ?</p>"},{"type":"html","id":"gzKF4xhrqUz_text","label":"gzKF4xhrqUz_text","default":"<p><strong>Jérôme</strong></p><p>&nbsp;J’ai déjà utilisé les anneaux pour la deuxième fois, après environ 5 jours les premiers sont tombés. Super.</p><p>&nbsp;</p><p>&nbsp;</p>"},{"type":"html","id":"gu7zwUiq_Um_text","label":"gu7zwUiq_Um_text","default":"<p><strong>Lola</strong></p><p>ça marche vraiment ! au bout de 7 jours mon acrochordon est tombé. je n'ai ressenti aucune douleur il y avait une toute petite marque qui commence a disparaitre. Merci Skinacro</p>"},{"type":"html","id":"gKZfS4OJRWb_text","label":"gKZfS4OJRWb_text","default":"<p><strong>Gloria</strong></p><p>J’avais depuis des années de petits acrochordons sur le cou, qui me gênaient surtout avec mes bijoux. Après quelques jours avec Skinacro, ils ont disparu.</p>"},{"type":"html","id":"guzTAye4L_G_text","label":"guzTAye4L_G_text","default":"<p><strong>Stephanie</strong></p><p>Enfin débarrassée ! Après 6 jours, mon acrochordon au cou avait complètement disparu. Sans douleur et sans cicatrice.</p>"},{"type":"html","id":"gZuEXDAYScI_text","label":"gZuEXDAYScI_text","default":"<p><strong>Laura</strong></p><p>Sceptique mais convaincu. J’étais incertain au début, mais le résultat parle de lui-même</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  